<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="styles.css">

  
</head>
<body>

<!-- P치gina de Registro -->
<div data-role="page" id="registrar">

  <!-- Encabezado con barra de navegaci칩n -->
  <div data-role="header" data-position="fixed">
    <h1>Registro de empleados</h1>
    <a href="/" data-icon="home" class="ui-btn-right">Inicio</a>
  </div>

  <!-- Contenido -->
  <div data-role="content">

    <!-- Formulario de Registro -->
    <form action="/<%= employee.workerNumber %>" method="post">
      <label for="workerNumber">Numero de trabajador:</label>
      <input type="number" name="workerNumber" id="workerNumber" required value="<%= employee.workerNumber %>">

      <label for="name">Nombre(s):</label>
      <input type="text" name="name" id="name" required value="<%= employee.name %>">

      <label for="lastname">Apellidos:</label>
      <input type="text" name="lastname" id="lastname" required value="<%= employee.lastname %>">

      <label for="department">Departamento:</label>
      <input type="text" name="department" id="department" required value="<%= employee.department %>">

      <label for="age">Edad:</label>
      <input type="number" min="18" name="age" id="age" required value="<%= employee.age %>">

      <label for="salary">Salario:</label>
      <input type="text" name="salary" id="salary" required value="<%= employee.salary %>">

      <label for="rating">clasificaci칩n:</label>
      <input type="number" min="1" max="10"  name="rating" id="rating" required value="<%= employee.rating %>">

      <button type="submit">Registrar Empleado</button>
    </form>

  </div>

  <!-- Pie de p치gina -->
  <div data-role="footer" data-position="fixed">
    <p style="text-align: center;">Github/JazzoLopez </p>
  </div>
</div>

</body>
</html>
