<!DOCTYPE html>

<html>

<head>
  <title>Inicio</title>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="shortcut icon" href="img/abarrotes.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="text-align: center;">
  <div data-role="page" id="inicio">

    <!-- Encabezado con barra de navegación -->
    <div data-role="header" data-position="fixed" style="background-color: #009faa;">
      <h1>El mejor empleado</h1>
      <div data-role="navbar">
        <ul>
          <li><a href="#inicio" data-icon="home" class="ui-btn-active">Inicio</a></li>
          <li><a href='/registro' data-icon="plus">Registrar</a></li>
          <li><a href="/mejor_empleado" data-icon="phone">Mejor empleado </a></li>
        </ul>
      </div>
    </div>
  
    <!-- /header -->
    <!-- content -->
    <div data-role="content">
      <p><img src="img/abarrotes.png" alt="" style="height: 100px;"> 
        <p>Bienvenido al control de empleados</p>
        <p>Agregamos empleados y si su raking de aprobechamiento es actualmente el mejor lo mostramos en un card nadamas jaja <a href="#productsTable">Mira los empleados</a></p>
        <p>El fin de esta app es getionar empleados y ver quien tuvo un ratin de registro de mayor aprobechamiento</p>
    </div>
    <div data-role="footer">
      <p style="text-align: center;">Github/JazzoLopez </p>
    </div>
  </div>


  <div data-role="page" id="productsTable">
    <!-- header -->
    <div data-role="header">
      <p style="text-align: center;">Empleados</p>
      <div data-role="navbar">
        <ul>
          <li><a href="#inicio" data-icon="home" class="ui-btn-active">Inicio</a></li>
          <li><a href="/registro" data-icon="plus">Registrar</a></li>
          <li><a href="/mejor_empleado" data-icon="phone">Contactos</a></li>
        </ul>
      </div>
    </div>
    <!-- /header -->
    <!-- content -->
    <div data-role="content">
  
      <!-- Información de abarrotes o productos -->
      <h2>Empleados registrados</h2>
      <p>Deseas regresar a la primer pagina, presiona <a href="#inicio">aqui</a></p>
  
      <!-- Imágenes -->
     
  
      <!-- Tabla con datos -->
      <div data-role="collapsibleset" data-filter="true" data-children="> div, > div div ul li" data-inset="true" id="collapsiblesetForFilterChildren" data-input="#searchForCollapsibleSetChildren">
        <% employees.forEach((employee)=>{%>
                <div data-role="collapsible" data-filtertext="<%= employee.workerNumber %> <%= employee.workerNumber %> ">
                    <h1><%= employee.workerNumber %></h1>
                    <ul data-role="listview" data-inset="false">
                        <li>Nombre(s): <b><%= employee.name %></b></li>
                        <li>Apellidos: <b><%= employee.lastname %></b></li>
                        <li>Departamento:<b> <%= employee.department %></b></li>
                        <li>Edad: <b><%= employee.age %></b></li>
                        <li>Salario: <b><%= employee.salary %></b></li>
                        <li>clasificación: <b><%= employee.rating %></b></li>
                        
                    </ul>
                    <br>
                    
                    <a href="<%= employee.workerNumber %>" class="ui-btn" style="background-color: rgb(241, 241, 101); color: rgb(48, 47, 47); font-size: large;">Editar</a>
                    <a href="/delete/<%= employee.workerNumber%>" class="ui-btn" style="background-color: rgb(245, 103, 103); color: rgb(54, 54, 54); font-size: large;">Eliminar</a>
                    </form>


                </div>
        
            
        <% }) %>
    </div>
    <!-- fin -->
  
    </div>
  
    <!-- /content -->
    <!-- /footer -->
    <div data-role="footer">
      <p style="text-align: center;">Github/JazzoLopez </p>
    </div>
  </div>


</body>