<!DOCTYPE html>

<html>

<head>
  <title>Inicio</title>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="text-align: center;">
  <div data-role="page" id="inicio">

    <!-- Encabezado con barra de navegación -->
    <div data-role="header" data-position="fixed" style="background-color: #009faa;">
      <h1>El mejor empleado</h1>
      <div data-role="navbar">
        <ul>
          <li><a href="#inicio" data-icon="home" class="ui-btn-active">Inicio</a></li>
          <li><a href='#registro' data-icon="plus">Registrar</a></li>
          <li><a href="/mejor_empleado" data-icon="phone">Mejor empleado </a></li>
        </ul>
      </div>
    </div>
  
    <!-- /header -->
    <!-- content -->
    <div data-role="content">

      <p>Bienvenido al control de empleados</p>
      <p>Agregamos empleados y si su ranking de aprovechamiento es actualmente el mejor lo mostramos en un card nada más jaja <a href="#productsTable">Mira los empleados</a></p>
      <p>El fin de esta app es gestionar empleados y ver quién tuvo un récord de registro de mayor aprovechamiento</p>
  </div>
  
    <div data-role="footer">
      <p style="text-align: center;">Github/JazzoLopez </p>
    </div>
  </div>


  <div data-role="page" id="productsTable">
    <!-- header -->
    <div data-role="header">
      <p style="text-align: center;">Empleados</p>
      <div data-role="navbar">
        <ul>
          <li><a href="#inicio" data-icon="home" class="ui-btn-active">Inicio</a></li>
          <li><a href="#registro" data-icon="plus">Registrar</a></li>
          <li><a href="/mejor_empleado" data-icon="phone">Contactos</a></li>
        </ul>
      </div>
    </div>
    <!-- /header -->
    <!-- content -->
    <div data-role="content">
  
      <!-- Información de abarrotes o productos -->
      <h2>Empleados registrados</h2>
      <p>Deseas regresar a la primer pagina, presiona <a href="#inicio">aqui</a></p>
  
      <!-- Imágenes -->
     
  
      <!-- Tabla con datos -->
      <div data-role="collapsibleset" data-filter="true" data-children="> div, > div div ul li" data-inset="true" id="collapsiblesetForFilterChildren" data-input="#searchForCollapsibleSetChildren">
        <% employees.forEach((employee)=>{%>
                <div data-role="collapsible" data-filtertext="<%= employee.workerNumber %> <%= employee.workerNumber %> ">
                    <h1><%= employee.workerNumber %></h1>
                    <ul data-role="listview" data-inset="false">
                        <li>Nombre(s): <b><%= employee.name %></b></li>
                        <li>Apellidos: <b><%= employee.lastname %></b></li>
                        <li>Departamento:<b> <%= employee.department %></b></li>
                        <li>Edad: <b><%= employee.age %></b></li>
                        <li>Salario: <b><%= employee.salary %></b></li>
                        <li>clasificación: <b><%= employee.rating %></b></li>
                        
                    </ul>
                    <br>
                    
                    <a href="<%= employee.workerNumber %>" class="ui-btn" style="background-color: rgb(241, 241, 101); color: rgb(48, 47, 47); font-size: large;">Editar</a>
                    <a href="/delete/<%= employee.workerNumber%>" class="ui-btn" style="background-color: rgb(245, 103, 103); color: rgb(54, 54, 54); font-size: large;">Eliminar</a>
                    </form>


                </div>
        
            
        <% }) %>
    </div>
    <!-- fin -->
  
    </div>
  
    <!-- /content -->
    <!-- /footer -->
    <div data-role="footer">
      <p style="text-align: center;">Github/JazzoLopez </p>
    </div>
  </div>





  <div data-role="page" id="registro" >

      <!-- Encabezado con barra de navegación -->
      <div data-role="header" data-position="fixed">
        <h1>Registro de empleados</h1>
        <a href="#inicio" data-icon="home" class="ui-btn-right">Inicio</a>
      </div>
    
      <!-- Contenido -->
      <div data-role="content">
    
        <!-- Formulario de Registro -->
        <form action="/" method="post">
          <label for="workerNumber">Numero de trabajador:</label>
          <input type="number" name="workerNumber" id="workerNumber" required>
    
          <label for="name">Nombre(s):</label>
          <input type="text" name="name" id="name" required>
    
          <label for="lastname">Apellidos:</label>
          <input type="text" name="lastname" id="lastname" required>
    
          <label for="department">Departamento:</label>
          <input type="text" name="department" id="department" required>
    
          <label for="age">Edad:</label>
          <input type="number" min="18" name="age" id="age" required>
    
          <label for="salary">Salario:</label>
          <input type="text" name="salary" id="salary" required>
    
          <label for="rating">clasificación:</label>
          <input type="number" min="1" max="10"  name="rating" id="rating" required>
    
          <button type="submit">Registrar Empleado</button>
        </form>
    
      </div>
    
      <!-- Pie de página -->
      <div data-role="footer" data-position="fixed">
        <p style="text-align: center;">Github/JazzoLopez </p>
      </div>
    </div>
  </div>

</body>